@{
    ViewBag.Title = "Period Overlap Checker";
}

<div class="row mt-5 mb-5">
    <div class="col-sm text-center">
        <h2>Period Overlap Checker</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 offset-md-3">
        <h4>Eerste periode:</h4>
        <hr />
    </div>
</div>

<div class="row justify-content-md-center mb-5">
    <div class="col-sm-2">
        <div class="form-group">
            <div class="input-group date" id="datepicker1" data-target-input="nearest">
                <input type="text" class="form-control datepicker-input" data-target="#datepicker1" />
                <div class="input-group-append" data-target="#datepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span>tot en met</span>
    <div class="col-sm-2">
        <div class="form-group">
            <div class="input-group date" id="datepicker2" data-target-input="nearest">
                <input type="text" class="form-control datepicker-input" data-target="#datepicker2" />
                <div class="input-group-append" data-target="#datepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 offset-md-3">
        <h4>Tweede periode:</h4>
        <hr />
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-sm-2">
        <div class="form-group">
            <div class="input-group date" id="datepicker3" data-target-input="nearest">
                <input type="text" class="form-control datepicker-input" data-target="#datepicker3" />
                <div class="input-group-append" data-target="#datepicker3" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span>tot en met</span>
    <div class="col-sm-2">
        <div class="form-group">
            <div class="input-group date" id="datepicker4" data-target-input="nearest">
                <input type="text" class="form-control datepicker-input" data-target="#datepicker4" />
                <div class="input-group-append" data-target="#datepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-6 offset-md-3">
        <button id="submit-dates" class="btn btn-lg btn-block btn-primary">Verstuur</button>
    </div>
</div>

<div class="row mt-5 text-center justify-content-md-center mb-5">
    <div class="col-sm-6">
        <div id="error-result"></div>
    </div>
</div>

<div class="row mt-5 text-center justify-content-md-center mb-5">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                Periodes overlappen:
            </div>
            <div class="card-body">
                <p class="card-text" id="result"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        const options = {
            format: 'L',
            locale: 'nl'
        };

        $(function() {
            $('#datepicker1').datetimepicker(options);
            $('#datepicker2').datetimepicker(options);
            $('#datepicker3').datetimepicker(options);
            $('#datepicker4').datetimepicker(options);

            $('#submit-dates').click(function() {
                let dates = [];
                let err = '';
                let $resultElm = $('#result');
                let $errorResultElm = $('#error-result');

                for (let i = 0; i < 4; i++) {
                    let date = $(`#datepicker${i + 1}`).datetimepicker('date');
                    if (typeof date === 'undefined' || date === null || !date.isValid) {
                        err = 'Voeg a.u.b twee geldige periodes toe';
                        break;
                    }
                    dates[i] = date;
                };

                if (err) {
                    $errorResultElm.html(`<p class='text-danger card-text'>${err}</p>`);
                } else {
                    $.ajax({
                        method: 'POST',
                        url: 'http://localhost:44344/api/periodcheck',
                        data: JSON.stringify({
                            period1: [dates[0].toDate().toISOString(), dates[1].toDate().toISOString()],
                            period2: [dates[2].toDate().toISOString(), dates[3].toDate().toISOString()]
                        }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function(data) {
                            if (data.overlap) {
                                $resultElm.html(`<p class='text-success overlap card-text'>JA</p>`);

                            } else {
                                $resultElm.html(`<p class='text-danger overlap card-text'>NEE</p>`);
                            }
                            $errorResultElm.hide();
                        },
                        error: function(xhr) {
                            $('#result').text(xhr.responseText);
                        }
                    });
                }
            });
        });
    </script>
}